---
title: "首 頁"
layout: default
pagination:
    enabled: true
description: "立川工作室專注於網站、伺服器的相關資訊。網站剛剛起步，卻沒有資訊相關人員？或者你不知道如何架一個網站？我們都可以幫助你架設網站。對於有網站需求，已經有網站的，可以提出您的問題或者疑問；如果沒有網站，可以對我們提出網站、伺服器的需求，或者需要我們的幫忙，我們一起使網站越來越好來前進"
---


<div class="container">
    
{% if page.url == "/" %}
    
    
    
<!-- Begin post excerpts, let's highlight the first 4 posts on top -->
<div class="row remove-site-content-margin">
    
    <!-- latest post -->
    {% assign latest_post = site.posts[0] %}
    <div class="col-md-6">
    <div class="card border-0 mb-4 box-shadow">   
    <a href="{{site.baseurl}}{{latest_post.url}}">
    <div style="background-image: url({% if latest_post.image contains "://" %}{{ latest_post.image }}{% else %} {{site.baseurl}}/{{ latest_post.image}}{% endif %}); height: 200px;    background-size: cover;    background-repeat: no-repeat;"></div>     
    </a>
    <div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
    <h2 class="h4 font-weight-bold">
    <a class="text-dark" href="{{site.baseurl}}{{latest_post.url}}">{{ latest_post.title }}</a>
    </h2>
    <p class="card-text">
        <a class="excerpt" href="{{site.baseurl}}{{latest_post.url}}">{{ latest_post.excerpt | strip_html | strip_newlines | truncate: 136 }}</a>
    </p>
    <div>
        <small class="d-block text-muted">
            In <span class="catlist">
                {% for category in latest_post.categories %}
                <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
                {% endfor %}
                </span>                   
        </small>
        <small class="text-muted">
            {{ latest_post.date | date: '%Y-%m-%d' }}
        </small>
    </div>
    </div>
    </div>
    </div>
    
    <div class="col-md-6">
        
        <!-- second latest post -->
        {%- assign second_post = site.posts[1] -%}        
        <div class="mb-3 d-flex align-items-center">                
                {% if second_post.image %}
                <div class="col-md-4">
                <a href="{{site.baseurl}}{{second_post.url}}">
                 <img class="w-100" src="{% if second_post.image contains "://" %}{{ second_post.image }}{% else %}{{ second_post.image | absolute_url }}{% endif %}" alt="{{ second_post.title }}">
                </a>
                </div>
                {% endif %}                
                <div>
                    <h2 class="mb-2 h6 font-weight-bold">
                    <a class="text-dark" href="{{site.baseurl}}{{second_post.url}}">{{ second_post.title }}</a>
                    </h2>
                    <small class="d-block text-muted">
                        In <span class="catlist">
                        {% for category in second_post.categories %}
                        <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
                        {% endfor %}
                        </span>                   
                    </small>
                    <small class="text-muted">
                        {{ second_post.date | date: '%Y-%m-%d' }}
                    </small>
                </div>
            </div>
        
        <!-- third latest post -->
        {%- assign third_post = site.posts[2] -%}        
        <div class="mb-3 d-flex align-items-center">                
                {% if third_post.image %}
                <div class="col-md-4">
                <a href="{{site.baseurl}}{{third_post.url}}">
                 <img class="w-100" src="{% if third_post.image contains "://" %}{{ third_post.image }}{% else %}{{ third_post.image | absolute_url }}{% endif %}" alt="{{ third_post.title }}">
                </a>
                </div>
                {% endif %}                
                <div>
                    <h2 class="mb-2 h6 font-weight-bold">
                    <a class="text-dark" href="{{site.baseurl}}{{third_post.url}}">{{ third_post.title }}</a>
                    </h2>
                    <small class="d-block text-muted">
                        In <span class="catlist">
                        {% for category in third_post.categories %}
                        <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
                        {% endfor %}
                        </span>                   
                    </small>
                    <small class="text-muted">
                        {{ third_post.date | date: '%Y-%m-%d' }}
                    </small>
                </div>
            </div>
        
        <!-- fourth latest post -->
        {%- assign fourth_post = site.posts[3] -%}        
        <div class="mb-3 d-flex align-items-center">                
                {% if fourth_post.image %}
                <div class="col-md-4">
                <a href="{{site.baseurl}}{{fourth_post.url}}">
                <img class="w-100" src="{% if fourth_post.image contains "://" %}{{ fourth_post.image }}{% else %}{{ fourth_post.image | absolute_url }}{% endif %}" alt="{{ fourth_post.title }}">
                </a>
                </div>
                {% endif %}                
                <div>
                    <h2 class="mb-2 h6 font-weight-bold">
                    <a class="text-dark" href="{{site.baseurl}}{{fourth_post.url}}">{{ fourth_post.title }}</a>
                    </h2>
                    <small class="d-block text-muted">
                        In <span class="catlist">
                        {% for category in fourth_post.categories %}
                        <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
                        {% endfor %}
                        </span>                   
                    </small>
                    <small class="text-muted">
                        {{ fourth_post.date | date: '%Y-%m-%d' }}
                    </small>
                </div>
            </div>
        
    </div>
    
</div>


<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="https://image-processer.appspot.com//?filename=service/U0HnpARf7X6vUNF39zOn7FaTb36Nwa9tvzJjGB5g.png&bucket=hourmasters-prod-bucket&crop=false&size=1200"
                 width="100%" height="200">

            <div class="card-body">
                <p class="card-text text-center">Laravel 搭配 Voyager 建置 CMS 網站</p>
                <div class="d-flex justify-content-between text-center">
                    <div class="btn btn-lg btn-block ">
                        <button type="button" class="btn btn-sm btn-outline-secondary">瀏 覽</button>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="https://image-processer.appspot.com//?filename=service/PaXseHx4yVMGNGW7mv2dw5MjpLVFipHyOkRZhG8s.png&bucket=hourmasters-prod-bucket&crop=false&size=1200"
                 width="100%" height="200">

            <div class="card-body">
                <p class="card-text text-center">打造 LINE 聊天機器人</p>
                <div class="d-flex justify-content-between text-center">
                    <div class="btn btn-lg btn-block ">
                        <button type="button" class="btn btn-sm btn-outline-secondary">瀏 覽</button>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="https://image-processer.appspot.com//?filename=service/0l3pRjyTcpy0JnW0BiP89HWG7FMrzPKHpIRvjxUh.png&bucket=hourmasters-prod-bucket&crop=false&size=1200"
                 width="100%" height="200">

            <div class="card-body">
                <p class="card-text text-center">Facebook Messenger AI 聊天機器人</p>
                <div class="d-flex justify-content-between text-center">
                    <div class="btn btn-lg btn-block ">
                        <button type="button" class="btn btn-sm btn-outline-secondary">瀏 覽</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<!-- Highlight (your own choice of highlighting a link, no post here) -->
<!--<div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mb-2rem bg-lightblue position-relative">-->
<!--    <div class="pl-4 pr-0 h-100 tofront">-->
<!--        <div class="row justify-content-between">-->
<!--            <div class="col-md-6 pt-6 pb-6 align-self-center">-->
<!--                <h1 class="mb-3">想知道我們最近有什麼新鮮的玩意兒？</h1>-->
<!--                <p class="mb-3 lead">-->
<!--                    我們是做網站、網頁空間，主要以 PHP 的 Laravel / Codeigniter 爲框架，建立起來的網頁-->
<!--                </p>-->
<!--                <a href="{{site.baseurl}}/project.html" class="btn btn-dark">想瞭解更多</a>-->
<!--            </div>-->
<!--            <div class="col-md-6 d-none d-md-block pr-0" style="background-size:cover;background-image:url(https://raw.githubusercontent.com/zivhsiao/repo-picture-1/master/images/image_5.png);">	</div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
    


{% endif %} <!--endif page url is / -->
    


<!-- Now the rest of the posts with the usual loop but with an offset:4 on the first page so we can skeep the first 4 posts displayed above -->
    
<div class="row mt-3">
   
    <div class="col-md-8 main-loop">
        
        <h4 class="font-weight-bold spanborder"><span>All Stories</span></h4>
        

        {% for post in paginator.posts %}
        
            {% include main-loop-card.html %}
        
        {% endfor %}
        
        <div class="mt-5">
         <!-- Pagination links -->
            {% if paginator.total_pages > 1 %}
            <ul class="pagination"> 
              {% if paginator.previous_page %}
                <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; 上一頁</a></li>
              {% else %}
                <li class="page-item disabled"><span class="prev page-link">&laquo;</span></li>
              {% endif %}

              {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                <li class="page-item disabled"><span class="webjeda page-link">{{ page }}</span></li>
                {% elsif page == 1 %}
                <li class="page-item"><a class="page-link" href="{{site.baseurl}}/">{{ page }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                {% endif %}
              {% endfor %}

              {% if paginator.next_page %}
                <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一頁 &raquo;</a></li>
              {% else %}
                <li class="page-item disabled"><span class="next page-link">&raquo;</span></li>
              {% endif %}
            </ul>
            {% endif %}      
        </div>
        
    </div>
    
    <div class="col-md-4">
        {% include sidebar-featured.html %}    
    </div>
    
</div>



</div>