<!--  Replace menu links here -->

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/index.html">首 頁</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/project.html">專案實績</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories.html">所有的分類</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/contact.html">聯絡我們</a>
</li>
<!-- <li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-wordpress/">WP version</a>
</li> -->
<li class="nav-item">
    <a target="_blank" class="nav-link" href="https://www.buymeacoffee.com/prgpress">幫我買杯咖啡吧！ <i
            class="fa fa-coffee text-danger"></i></a>
</li>