---
layout: default
---
<div class="container">
    <h3 class="font-weight-bold spanborder"><span>{{page.title}}</span></h3>
    <div class="row">
        <div class="col-md-8">
            <a target="_blink" href="http://www.vwg.global">
                <img class="card-img-top mb-5 shadow-lg"
                src="https://raw.githubusercontent.com/zivhsiao/repo-picture-1/master/images/image_5.png"
                alt="品鑲金頂級葡萄酒">
                <h4>品鑲金頂級葡萄酒</h4>
            </a>
            <br><br> 
            <a target="_blink" href="http://tc.rwdcoman.com/">
                <img class="card-img-top mb-5 shadow-lg"
                src="https://raw.githubusercontent.com/zivhsiao/repo-picture-1/master/images/image_3.png"
                alt="統成蜂巢應用科技">
                <h4>統成蜂巢應用科技</h4>
            </a>
            <br><br>
            <a target="_blink" href="http://jpturbo.com">
                <img class="card-img-top mb-5 shadow-lg"
                src="https://raw.githubusercontent.com/zivhsiao/repo-picture-1/master/images/image_2.png"
                alt="JPTurbo">
                <h4>JPTurbo</h4>
            </a>
            <br><br> 
            <a target="_blink" href="http://edcoating.com.tw">
                <img class="card-img-top mb-5 shadow-lg"
                src="https://raw.githubusercontent.com/zivhsiao/repo-picture-1/master/images/image_4.png"
                alt="巨匠有限公司">
                <h4>巨匠有限公司</h4>
            </a>
            <br><br>
            <a target="_blink" href="https://ho-sua.com">
                <img class="card-img-top mb-5 shadow-lg"
                src="https://raw.githubusercontent.com/zivhsiao/repo-picture-1/master/images/image_6.png"
                alt="即享傘-雨傘租借服務">
                <h4>即享傘-雨傘租借服務</h4>
            </a>
            <br><br> 
            <a target="_blink" href="https://ho-sua.com">
                <img class="card-img-top mb-5 shadow-lg"
                src="https://raw.githubusercontent.com/zivhsiao/repo-picture-1/master/images/image_7.png"
                alt="紅布條設計中心">
                <h4>紅布條設計中心</h4>
            </a>
            <br><br>  

            <div class="page-content">
                {{ content }}
                <!-- Comments -->
                {% if page.comments == true %}
                {% include comments.html %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            {% include sidebar.html %}
        </div>
    </div>
</div>